<div class="middletextbox">
    <h3 class="middletextbox">You are in {{pagina}} page</h3>
    <h3 class="middletextbox">You viewed it {{vistas}} time(s)</h3>
    <a class="middletextbox" href="/">Back</a>
</div>